.third-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

.progressbar-skills {
    height: 40px;
    width: 320px;
    background-color: white;
    border-radius: none;
    border: 5px solid black;
}

progress::-webkit-progress-value {
    background-color: #7C5E99;
}

progress::-webkit-progress-bar {
    background-color: white;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93px;
    width: 93px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills-component {
    display: flex;
    margin-bottom: 38px;
}

.skills-wrapper {
    display: flex;
    width: 960px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.img-container img {
    width: auto;
    height: auto;
}

.right-alignment {
    margin-right: 100px;
}

.img-right-alignment {
    padding-right: 16px;
}